* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}


#intro {
  position: absolute;
  left: 0;
  top: 35%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 5px;
  margin: 20px auto;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 0.05em;
}
h2::before {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 5px;
  margin: 20px auto;
  line-height: 1;
}

.icon {
 padding: 0px 10px;
 color: white;
 font-size: 4em;
    
}

.username {
    font-family: 'Syncopate', sans-serif;
    font-weight: 10;
    -webkit-font-smoothing: antialiased;
}

.mail {
    font-family: 'Syncopate', sans-serif;
    font-weight: 5;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1000px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 15px;
  }
}

