<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Oleg Tsvetkov",
        "url": "https://tsv.one/",
        "image": "https://tsv.one/photo.webp",
        "sameAs": [
            "https://github.com/Hekzory",
            "https://vk.com/hekzo",
            "https://t.me/hekzory",
            "https://steamcommunity.com/id/hekzory/"
        ],
        "jobTitle": "Software Engineer",
        "worksFor": {
            "@type": "Organization",
            "name": "VK"
        }
    }
</script>