<header class="waybar">
    <div class="waybar-left">
        <a href="/" class="module workspace {=$home_active}" target="_self" aria-label="Home">
            <svg class="icon" aria-hidden="true">
                <use href="#i-home"></use>
            </svg>
            <span class="label">HOME</span>
        </a>
        <a href="/resume" class="module workspace {=$resume_active}" target="_self" aria-label="Resume">
            <svg class="icon" aria-hidden="true">
                <use href="#i-resume"></use>
            </svg>
            <span class="label">RESUME</span>
        </a>
        <div class="module window-title" aria-label="Window title">
            <svg class="icon" aria-hidden="true">
                <use href="#i-win"></use>
            </svg>
            <span id="window-title">{=$window_title}</span>
        </div>
    </div>

    <div class="waybar-right">
        <div class="module clock" aria-label="Clock">
            <svg class="icon" aria-hidden="true">
                <use href="#i-clk"></use>
            </svg>
            <span id="clock" class="label">00:00</span>
        </div>
    </div>
</header>