{{ define "main" }}
    {{ .Content }}
    <div id="wrapper">
        <main id="main">
                <div class="inner">
                    <div class="container">
                        <div class="wrapper">
                            <div class="inner">
                                <h2 id="profile-title">ERROR 404</h2>
                                <h1 id="profile-name">Page not found</h1>
                                <div class="buttons">
                                    <a href="/" class="button">
                                        <span class="label">Go back</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
{{ end }}
